<div class="container">
    <div id="add-book-div">
        <div class="search-div">
            <form action="/books/search" method="GET">
                <input type="text" class="form-control" name="title" placeholder="Title">
                <input type="text" class="form-control" name="author" placeholder="Author"></textarea>
                <button type="submit" class="btn btn-lg btn-block">SEARCH BOOK</button>
            </form>
        </div>
    </div>
    {{#if books}}
        <div class="row d-flex justify-content-around mb-3" id="books-found">
            {{#each books as |book|}}
                <div class="card book-card p-2">
                    <div class="card-img">
                        <img src="{{#with volumeInfo.imageLinks}} {{thumbnail}} {{/with}}" alt="Book Cover">
                    </div>
                    <div class="card-body">
                        <div class="title-and-like">
                            <h4 class="card-title w-100">{{ volumeInfo.title }}</h4>
                            <p class="card-text">{{#each volumeInfo.authors}} {{ this }} {{/each}}</p>
                            <p class="card-text">Published Date: {{ volumeInfo.publishedDate }}</p>
                        </div>
                        <div class="book-card-btns">
                            <form action="/books/create" method="POST">
                                <input type="text" class="d-none" name="id" value="{{book.id}}">
                                <button type="submit" class="btn btn-lg btn-block">ADD BOOK</button>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>