<div id="book-detail" class="align-items-center container">
    <img src="{{book.cover}}" alt="Book cover" class="m-5">
    <div class="w-100 m-5">
        <div class="d-flex flex-direction-column">
            <div>
                <h1>{{book.title}}</h1>
                <h5 class="fst-italic">{{book.author}}</h5>
            </div>
        </div>
        <p class="mt-3">{{book.synopsis}}</p>
        <a class="btn w-25 mt-5" href="/books/{{book._id}}/rooms">SEE ROOMS</a>
        {{#if admin}}
        <a class="btn w-25 mt-5" href="/books/{{book._id}}/edit">EDIT BOOK</a>
        <form action="/books/{{book._id}}/delete" class="d-inline" method="post">
            <button class="btn w-25 mt-5" type="submit">DELETE BOOK</button>    
        </form>
        {{/if}}
    </div>
    <div>
    </div>
</div>