<div class="mt-5 container">
    <div>
        <h1>{{ room.name }}</h1>
        <p>{{ room.description }}</p>
        <form action="/rooms/{{room._id}}/delete" class="d-inline" method="post">
            <button class="btn w-25" type="submit">DELETE ROOM</button>
        </form>
    </div>

<div class="w-75">
    {{!-- Crear un nuevo comentario --}}
    <div id="comment-div">
        <img src="{{#if currentUser}}{{currentUser.image}}{{else}}https://www.nicepng.com/png/detail/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png{{/if}}" class="comment-img">
        <form action="/comment/{{room._id}}" method="POST">
            <input type="text" name="content" class="form-control h-50" placeholder="Write a comment...">
            <button class="btn mt-2 comment-reply-btn" type="submit">Comment</button>
        </form>
    </div>

    {{!-- Mostrar los comentarios que tiene la sala --}}
    <h3>Comments</h3>
        {{#each room.comments as |comment|}}    
        <div class="card mt-4" id="room-card">
            <div class="card-body">
                <div class="d-flex flex-direction-column">
                    <img src="{{comment.user.image}}" alt="User's picture" class="comment-img">
                    <div>
                        <h4 class="user-name">{{comment.user.name}}<h4>
                        <p>{{comment.content}}</p>          
                    </div>
                </div>
            </div>
            <div class="bg-light p-2">
                <div>
                    {{#each comment.replies as |reply|}}
                    <div class="d-flex flex-direction-column w-100" id="reply">
                        <div>
                            <img src="{{reply.user.image}}" alt="User's image" class="reply-img">
                        </div>
                        <div>
                            <h4 class="user-name">{{reply.user.name}}</h4>
                            <p>{{reply.content}}</p>
                        </div>
                    </div>
                    <hr>
                    {{/each}}
                </div>  

                <div class="mt-3">
                    <form class="d-flex justify-content-start align-items-center" action="/comment/{{comment.id}}/reply" method="POST">
                        <textarea class="w-100" name="content" cols="30" placeholder="Write your reply..."></textarea>
                        <input type="text" name="id" class="d-none" value="{{../room.id}}">
                        <button class="btn comment-reply-btn" type="submit">Reply</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>