<div class="container mt-5">

    <div>
        {{#if book}}
            <h1>Rooms for <a class="title-link" href="/books/{{book._id}}">{{book.title}} - {{book.author}}</a></h1>
        {{else}}
            <h1>All rooms</h1>
        {{/if}}

        <a class="btn w-25 mt-5" href="/rooms/create">CREATE NEW ROOM</a>
    </div>

    <div class="row d-flex justify-content-around">
    {{#if rooms}}
        {{#each rooms as |room|}}
        <div class="card room-card">
            <div class="card-body">

                <div class="d-flex justify-content-between">
                    <a class="title-link" href="/rooms/{{room._id}}"><h4 class="card-title mt-2">{{ room.name }}</h4></a>
                    <h5 id="room-book-title">{{room.book.title}}</h5>
                </div>

                <p class="card-text">{{ room.description }}</p>
                
                <div class="room-info">
                    <i class="bi bi-chat-square"></i> {{room.comments.length}} Comments |
                    <i class="bi bi-share"></i> Share | 
                    <i class="bi bi-person"></i> {{room.participants.length}} Bookworms: 
                    {{#each room.participants as |user| }}
                        <img class="participant-room-card-img" src="{{user.user.image}}" alt="Participant image" referrerpolicy="no-referrer">
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
    <div class="center-div">
        <div id="error-div" class="mt-5">
            <h4>There are no rooms at the moment. Create a new one and start commenting!</h4>
            <img src="/img/empty.svg" alt="Empty icon" class="w-50">
        </div>
    </div>
    {{/if}}
    </div>
</div>