<div class="container mt-5">
    
    {{#if book}}<h1>Rooms for <a class="title-link" href="/books/{{book._id}}">{{book.title}} - {{book.author}}</a></h1>
    {{else}}<h1>All rooms</h1>
    {{/if}}

    <div class="row d-flex justify-content-around">
    {{#if rooms}}
        {{#each rooms as |room|}}
        <div class="card room-card">
            <div class="card-body">
                <a class="title-link" href="/rooms/{{room._id}}"><h4 class="card-title mt-2">{{ room.name }}</h4></a>
                <p class="card-text">{{ room.description }}</p>
                <div>
                    {{#each room.participants as |user| }}
                        <img class="participant-room-card-img" src="{{user.user.image}}" alt="Participant image" referrerpolicy="no-referrer">
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
    <div class="center-div">
        <div id="error-div" class="mt-5">
            <h4>There are no rooms at the moment. Create a new one and start commenting!</h4>
            <img src="/img/empty.svg" alt="Empty icon" class="w-50">
        </div>
    </div>
    {{/if}}
    </div>
    <a class="btn w-25 mt-5" href="/rooms/create">CREATE NEW ROOM</a>
</div>