<div class="container">
    {{#if book}}<h1>Rooms of {{book.title}}</h1>
    {{else}}<h1>All rooms</h1>
    {{/if}}
    <div class="row d-flex justify-content-around">
    {{#if rooms}}
        {{#each rooms as |room|}}
        <div class="card" id="room-card">
            <img class="card-img-top" src="{{book.cover}}" alt="Room cover">
            <div class="card-body">
                <h4 class="card-title">{{ room.name }}</h4>
                <p class="card-text">{{ room.description }}</p>
                <a href="/rooms/{{room._id}}" class="btn">ENTER ROOM</a>
            </div>
        </div>
        {{/each}}
    {{else}}
        <h3>There are no rooms at the moment.</h3>
        <p>Create a new one.</p>
    {{/if}}
    <a class="btn" href="/rooms/create">CREATE ROOM</a>
    </div>
</div>
