<div id="profile-div">
    <div class="profile-div">
        <h2>YOUR PROFILE</h2>
        <div class="profile-content-div" id="profile-info-div">
            <img id="profile-info-img" src="{{currentUser.image}}" alt="" referrerpolicy="no-referrer">
            <p>{{currentUser.name}}</p>
            <p>{{currentUser.email}}</p>
        </div>
    </div>
    <div class="profile-div">
        <h2>YOUR ROOMS</h2>
        <div class="profile-content-div">
            {{#each rooms as |room|}}
                <div class="card room-card">
                    <div class="card-body">
                        <a class="title-link" href="/rooms/{{room.room._id}}"><h3 class="card-title">{{ room.room.name }}</h3></a>
                        <p class="card-text">{{room.room.description}}</p>
                        <div>
                            {{#each room.room.participants as |participant|}}
                                <img class="participant-room-card-img" src="{{participant.user.image}}" alt="Participant image" referrerpolicy="no-referrer">
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="profile-div">
        <h2>YOUR BOOKS</h2>
        <div class="profile-content-div">
            {{#each books as |book|}}
                <div class="card room-card p-2">
                    <div class="cover-title-div">
                        <div class="cover-div">
                            <img src="{{book.book.cover}}" alt="Book cover" height="120" width="80">
                        </div>

                        <div class="w-75">
                            <h5>{{ book.book.title }}</h5>
                            <p>{{ book.book.author }}</p>
                        </div>
                        
                        <div>
                            <form action="/like/{{book.id}}/delete" method="POST">
                                    <button class="fa fa-trash border-0 bg-transparent mt-2" type="submit"></button>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex flex-row">
                        <a href="/books/{{book.book._id}}" class="btn">DETAILS</a>
                        <a href="/books/{{book.book._id}}/rooms" class="btn margin-button" >ROOMS</a>
                    </div>
                </div>
            {{/each}}  
        </div>
    </div>
</div>